/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

/* BACKGROUND */



body {
	background: url('https://i.imgur.com/ZPvCktv.png') repeat;
	font-family: 'Dosis', sans-serif;
	color: #bf3e47;

}

/* RIGHT SIDE */
.container.main {
	background: rgba(255,255,255, .5);
	border: solid;
	box-shadow: none;
	border-radius: 7px;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none;
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(254,195,199, .7);
	border: solid;
	border-top: solid;
	color:#bf3e47;
	border-radius: 6px;
}
.topbar li {
        color:#ffffff;
}



/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(254,195,199, .9);
	border-bottom: solid;
        border-width: 2px;
	color: #bf3e47;
	border-radius: 0px;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #bf3e47 !important;
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(191,62,71,1) !important;
	border-bottom: none;
	color: #ffffff !important;
	border-radius: 7px;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(1, 1, 1, 0) !important;
        border: none;
	border-radius: 6px;
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #fffff;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(254,195,199, .6);
	border: double ;
        border-width: 5px;
        color: #bf3e47;
	box-shadow: none;
	border-radius: 4px;
}

/* LEFT SIDE */
.col-md-9 {
	background: rgba(254,195,199, .4);
}


/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(254,195,199, 1);
}

.breadcrumb .active {
	color: #bf3e47;

    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: rgba(255,255,255, 0) !important;
        border: none !important;
        border-width: 7px;
	border-radius: 7px;
	color: #bf3e47 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: rgba(254,195,199, .9);
        border: solid !important;
	border-radius: 4px;
        text-shadow: none !important;
	color: #bf3e47 !important;
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(255,255,255, .8) !important;
	border: solid;
        border-width: 2px;
	color: #bf3e47;
	border-radius: 7px !important;
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #bf3e47;
	font-size: 90px;
	text-align: center;
        font-family: 'Dosis', sans-serif;
}


/* MEDIUM HEADER */

h2 {
	color: #bf3e47;
	font-size: 24px;
	text-align: center;
}


/* SMALL HEADER */

h3 {
	color: #bf3e47 !important;
	font-size: 14px !important;
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #bf3e47 !important;
        font-size: 26px !important;
        font-family: 'Dosis', sans-serif;
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(255, 255, 255, 1) !important;
	box-shadow: none !important;
	border: solid !important;
        border-width: 2px !important;
	color: #bf3e47 !important;
	border-radius: 7px ;
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgb(232,124,131);
	color: #bf3e47 !important;
	border-radius: 4px !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgb(191,62,71);
	color: #bf3e47 !important;
	border-radius: 4px !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: #ffffff !important;
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(191,62,71, 1) !important;
        color: #ffffff !important;
	border: none !important;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
        background: rgba(191,62,71, 1) !important;
        color: #ffffff !important;
	border: none !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(191,62,71, 1) !important;
        color: #ffffff !important;
	border: none !important;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(191,62,71, 1) !important;
        color: #ffffff !important;
	border: none !important;
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(255,255,255, .5);
	border: solid !important;
	border-collapse: separate;
	border-radius: 7px;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: rgba(191,62,71,1) !important;
	color: #ffffff !important;
	border-radius: 2px;
}

td.bottom a {
        text-decoration: none !important;
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(249,178,202, 1) !important;
        color: #13070a;
	border-radius: 4px;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(249,178,202, .5);
	border-radius: 4px !important;
}

td.right {
	border-radius: 6px !important;
}

/* IGNORE */
.right_odd {
	background: rgba(255,255,255, 1); 
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(255,255,255,.5);
	border: none !important;
	border-radius: 4px !important;
}

/* FEED ALL, PLAY ALL */


.feature {
	background: rgba(254,195,199, .9) !important;
	color: #bf3e47 !important;
	border: 1px solid #bf3e47 !important;
	border-radius: 4px !important;


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
}

.feature,
div.left {
	background: rgba(255,255,255, .5);
	border: none;
	border-radius: 4px !important;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(255,255,255, .5);
        border-radius: 4px;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(255,255,255, 1) !important;
	border: none !important;
	border-radius: 6px !important;
	color: #2e2a2b !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(191,62,71, .5) !important;
	color: #ffffff  !important;
	border-radius: 50% !important;
}

.item {
	background: rgba(249,178,202, .5) !important;
	border: none !important;
	border-radius: 4px !important;
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #ffffff !important;
}

div.slider.round::before /* Circle Part */ {
	background: #bf3e47 !important;
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #bf3e47 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #892027 !important
}

/* LINK HOVER COLOR */

a:hover {
        box-shadow: none #ffffff ;
	color: #ffffff !important;

}


/* BOX CONTAINER */



.boxcontainer {
	background: none;
	height: auto;
	padding: 4px;
	justify-content: center;
	display: flex;
}

/* BOXES */



.smallbox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto;
}

.mediumbox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto;
}

.largebox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
}

/* HOVER BOXES */


.smallhoverbox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s;
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s;
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(255,255,255, 0.5);
	color: #bf3e47;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s;
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px;
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff;
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #bf3e47;
	border-radius: 4px;
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1;
}

table#player img {
	opacity: 1;
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 4px !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px;/* May need adjusting */
}

table#player img {
	border-radius: 4px !important;
	overflow: hidden;
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.imgur.com/TbxJa9o.gif')
/* CAVE / MOUND IMAGES */
}

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('https://i.imgur.com/ChvqUOb.png') !important
}

a[href="CAVE ID"]>div.cave-grid>img {
	content: url('https://i.imgur.com/ChvqUOb.png') !important
}

a[href="lionoverview.php?id=417545"]>div.cave-grid>img /* Pride Overview */ {
	content: url('https://i.imgur.com/ChvqUOb.png') !important
}

a[href="unsorted.php?id=417545"]>div.cave-grid>img /* Unsorted */ {
	content: url('https://i.imgur.com/ChvqUOb.png') !important
}

.mound-grid img /* Mound(s) */ {
	background: url('https://i.imgur.com/XNMqyIw.png');
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
  
